<div class="title">
  <h1>Pokemons</h1>
</div>

<hr>

<section class="card">
<% @pokemons.each do |pokemon| %>
  <section class="block>"
    <h1><%= pokemon.name%></h3>
    <p><%= "Type: " %><%= pokemon.pokemontype %></p>
    <a href="<%=pokemon_path(pokemon.id)%>">
      <%=image_tag pokemon.image_url %>
    </a>
    <p><%= "Region: " %><%= pokemon.region %></p>
  </section>
<% end %>
</section>

<hr>

<%= link_to "[Add Pokemon]", new_pokemon_path %>
