<h1>Editing Region</h1>

  <%= render 'form', region: @region %>

  <%= link_to 'Show', @region %> |
<%= link_to 'Back', regions_path %>

<%= link_to "[All Pokemons]", root_path %> <%= link_to "[Regions]", regions_path %>
