<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<h4>List of Pokemons</h4>

<% if @region.pokemons.any? %>
  <ul>
    <% @region.pokemons.each do |pokemon| %>
      <li><%= pokemon.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no Pokemons in this region.</p>
<% end %>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
